.página
{
    display: grid;
    grid-template-rows: 150px 1fr 50px;
    row-gap: 0px;
    height: 100%;
    margin: 0;

}
.cabeza
{
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr 100px;
    grid-row: 1;
    height: 100%;
    background-color: #184464;
}

.cuerpo
{
    grid-row: 2;
    color:#00ff00;
}

.piedepagina
{
    grid-row: 3;
    text-align: center;
    color:#0000ff;
    
}

.boton
{
    text-align: center;
    vertical-align: middle;
    color:#ffffff;
}